<?xml version="1.0" encoding="UTF-8" ?>
<settings xsi:schemaLocation='http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd'
          xmlns='http://maven.apache.org/SETTINGS/1.0.0' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>
          <servers>
              <server>
                  <id>bintray-macster110-jtorch4pam</id>
                  <username>macster110</username>
                  <password>56dec3c4ad95c7532c97cf10dfa3b06e85ca0292</password>
              </server>
          </servers>
    <profiles>
        <profile>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>bintray-macster110-jtorch4pam</id>
                    <name>bintray</name>
                    <url>https://dl.bintray.com/macster110/jtorch4pam</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>bintray-macster110-jtorch4pam</id>
                    <name>bintray-plugins</name>
                    <url>https://dl.bintray.com/macster110/jtorch4pam</url>
                </pluginRepository>
            </pluginRepositories>
            <id>bintray</id>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>bintray</activeProfile>
    </activeProfiles>
</settings>
