
jpam/jdl4pam/.DS_Store
.DS_Store
jpam/src/.DS_Store
jpam/.DS_Store
bin/org/jamdev/pambinaries/audiomoth/AudioMothTFile.class
bin/org/jamdev/pambinaries/audiomoth/AudioMothTData.class
bin/org/jamdev/jtorch4pam/TestModules.class
bin/org/jamdev/jpamutilsfx/utilsfx/PamUtilsFX.class
bin/org/jamdev/jpamutilsfx/utilsfx/PamSVGIcon.class
bin/org/jamdev/jpamutilsfx/utilsfx/InfernoColorMap.class
bin/org/jamdev/jpamutilsfx/utilsfx/ColourArray.class
bin/org/jamdev/jpamutilsfx/utilsfx/ColourArray$ColourArrayType.class
bin/org/jamdev/jpamutilsfx/colourslider/RangeSliderLabel.class
bin/org/jamdev/jpamutilsfx/colourslider/PamRangeSlider.class
bin/org/jamdev/jpamutilsfx/colourslider/DefaultSliderLabel.class
bin/org/jamdev/jpamutilsfx/colourslider/ColourRangeSlider.class
bin/org/jamdev/jpamutilsfx/AppTest.class
bin/org/jamdev/jpamutilsfx/App.class
bin/org/jamdev/jpamutils/wavFiles/WavInterpolator.class
bin/org/jamdev/jpamutils/wavFiles/WavFile.class
bin/org/jamdev/jpamutils/wavFiles/Resample.class
bin/org/jamdev/jpamutils/wavFiles/PreEmphasisFilter.class
bin/org/jamdev/jpamutils/wavFiles/FilterParams.class
bin/org/jamdev/jpamutils/wavFiles/AudioData.class
bin/org/jamdev/jpamutils/spectrogram/WindowFunction.class
bin/org/jamdev/jpamutils/spectrogram/Spectrogram.class
bin/org/jamdev/jpamutils/spectrogram/SpecTransform.class
bin/org/jamdev/jpamutils/spectrogram/GaussianFilter.class
bin/org/jamdev/jpamutils/spectrogram/GaussianFilter$ChannelProcess.class
bin/org/jamdev/jpamutils/spectrogram/FastFFT.class
bin/org/jamdev/jpamutils/spectrogram/ComplexArrayF.class
bin/org/jamdev/jpamutils/spectrogram/ComplexArrayD.class
bin/org/jamdev/jpamutils/spectrogram/ComplexArray.class
bin/org/jamdev/jpamutils/spectrogram/Complex.class
bin/org/jamdev/jpamutils/ResampleTest.class
bin/org/jamdev/jpamutils/JamArr.class
bin/org/jamdev/jpamutils/interpolation/NearestNeighbor.class
bin/org/jamdev/jpamutils/interpolation/Interpolation.class
bin/org/jamdev/jpamutils/interpolation/Interpolation$Type.class
bin/org/jamdev/jpamutils/interpolation/Bilinear.class
bin/org/jamdev/jpamutils/interpolation/Bicubic.class
bin/org/jamdev/jpamutils/interpolation/Arrays2D.class
bin/org/jamdev/jpamutils/clahe/Share.class
bin/org/jamdev/jpamutils/clahe/IntPoint.class
bin/org/jamdev/jpamutils/clahe/Grayscale.class
bin/org/jamdev/jpamutils/clahe/Grayscale$Run.class
bin/org/jamdev/jpamutils/clahe/Grayscale$Algorithm.class
bin/org/jamdev/jpamutils/clahe/FastBitmap.class
bin/org/jamdev/jpamutils/clahe/FastBitmap$CoordinateSystem.class
bin/org/jamdev/jpamutils/clahe/FastBitmap$ColorSpace.class
bin/org/jamdev/jpamutils/clahe/Color.class
bin/org/jamdev/jpamutils/clahe/Clahe.class
bin/org/jamdev/jpamutils/clahe/Bitmap.class
bin/org/jamdev/jpamutils/AppTest.class
bin/org/jamdev/jpamutils/App.class
bin/org/jamdev/jpamtest/ReadBufferExceptionTest.class
bin/org/jamdev/jpambinaries/pamguard/PGBinaryUtils.class
bin/org/jamdev/jpambinaries/pamguard/PGBinaryFile.class
bin/org/jamdev/jpambinaries/pamguard/PamDataUnit.class
bin/org/jamdev/jpambinaries/pamguard/FileHeader.class
bin/org/jamdev/jpambinaries/AppTest.class
bin/org/jamdev/jpambinaries/App.class
bin/org/jamdev/jdl4pam/utils/ZipUtils.class
bin/org/jamdev/jdl4pam/utils/DLUtils.class
bin/org/jamdev/jdl4pam/utils/DLMatFile.class
bin/org/jamdev/jdl4pam/transforms/WaveTransform.class
bin/org/jamdev/jdl4pam/transforms/TransformError.class
bin/org/jamdev/jdl4pam/transforms/SpectrogramTests.class
bin/org/jamdev/jdl4pam/transforms/SimpleTransformParams.class
bin/org/jamdev/jdl4pam/transforms/SimpleTransformError.class
bin/org/jamdev/jdl4pam/transforms/SimpleTransform.class
bin/org/jamdev/jdl4pam/transforms/jsonfile/DLTransformsParser.class
bin/org/jamdev/jdl4pam/transforms/jsonfile/DLTransformParser2.class
bin/org/jamdev/jdl4pam/transforms/json/JSONParseTest.class
bin/org/jamdev/jdl4pam/transforms/FreqTransform.class
bin/org/jamdev/jdl4pam/transforms/DLTransfromParams.class
bin/org/jamdev/jdl4pam/transforms/DLTransformTest.class
bin/org/jamdev/jdl4pam/transforms/DLTransformsFactory.class
bin/org/jamdev/jdl4pam/transforms/DLTransform.class
bin/org/jamdev/jdl4pam/transforms/DLTransform$DLTransformType.class
bin/org/jamdev/jdl4pam/transforms/dl_transform_schema.json
bin/org/jamdev/jdl4pam/resources/Koogu/right_whale/right_whale_koogu.wav
bin/org/jamdev/jdl4pam/resources/Koogu/right_whale/model/test_audio_samples.json
bin/org/jamdev/jdl4pam/resources/Koogu/right_whale/model/ReadMe.rtf
bin/org/jamdev/jdl4pam/resources/Koogu/right_whale/model/koogu_narw_model_demo.py
bin/org/jamdev/jdl4pam/resources/Koogu/right_whale/model/koogu_narw_model/variables/variables.index
bin/org/jamdev/jdl4pam/resources/Koogu/right_whale/model/koogu_narw_model/variables/variables.data-00000-of-00001
bin/org/jamdev/jdl4pam/resources/Koogu/right_whale/model/koogu_narw_model/saved_model.pb
bin/org/jamdev/jdl4pam/resources/Koogu/right_whale/model/koogu_narw_model/assets/classes_list.json
bin/org/jamdev/jdl4pam/resources/Koogu/right_whale/for_PAMGuard.zip
bin/org/jamdev/jdl4pam/resources/Koogu/blue_whale/ReadMe.md.txt
bin/org/jamdev/jdl4pam/resources/Koogu/blue_whale/rawScores_20190527_190000.mat
bin/org/jamdev/jdl4pam/resources/Koogu/blue_whale/rawScores_20190527_190000.csv
bin/org/jamdev/jdl4pam/resources/Koogu/blue_whale/BmD_24_tf_model/koogu/variables/variables.index
bin/org/jamdev/jdl4pam/resources/Koogu/blue_whale/BmD_24_tf_model/koogu/variables/variables.data-00000-of-00001
bin/org/jamdev/jdl4pam/resources/Koogu/blue_whale/BmD_24_tf_model/koogu/saved_model.pb
bin/org/jamdev/jdl4pam/resources/Koogu/blue_whale/BmD_24_tf_model/koogu/classes/class_output_config.csv
bin/org/jamdev/jdl4pam/resources/Koogu/blue_whale/BmD_24_tf_model/koogu/assets/spec_settings.json
bin/org/jamdev/jdl4pam/resources/Koogu/blue_whale/BmD_24_tf_model/koogu/assets/classes_list.json
bin/org/jamdev/jdl4pam/resources/Koogu/blue_whale/BmD_24_tf_model/koogu/assets/audio_settings.json
bin/org/jamdev/jdl4pam/resources/Koogu/blue_whale/BmD_23_tf_model/training_history.json
bin/org/jamdev/jdl4pam/resources/Koogu/blue_whale/BmD_23_tf_model/koogu/variables/variables.index
bin/org/jamdev/jdl4pam/resources/Koogu/blue_whale/BmD_23_tf_model/koogu/variables/variables.data-00000-of-00001
bin/org/jamdev/jdl4pam/resources/Koogu/blue_whale/BmD_23_tf_model/koogu/saved_model.pb
bin/org/jamdev/jdl4pam/resources/Koogu/blue_whale/BmD_23_tf_model/koogu/assets/spec_settings.json
bin/org/jamdev/jdl4pam/resources/Koogu/blue_whale/BmD_23_tf_model/koogu/assets/classes_list.json
bin/org/jamdev/jdl4pam/resources/Koogu/blue_whale/BmD_23_tf_model/koogu/assets/audio_settings.json
bin/org/jamdev/jdl4pam/resources/Koogu/blue_whale/BmD_23_tf_model/classifier_weights.h5
bin/org/jamdev/jdl4pam/resources/Koogu/blue_whale/BmD_23_tf_model/classifier.json
bin/org/jamdev/jdl4pam/resources/Koogu/blue_whale/blue_whale_24.kgu
bin/org/jamdev/jdl4pam/resources/Koogu/blue_whale/20190527_190000.wav
bin/org/jamdev/jdl4pam/resources/Ketos/right_whale/hallo-kw-det_v1/recipe.json
bin/org/jamdev/jdl4pam/resources/Ketos/right_whale/hallo-kw-det_v1/model/variables/variables.index
bin/org/jamdev/jdl4pam/resources/Ketos/right_whale/hallo-kw-det_v1/model/variables/variables.data-00000-of-00001
bin/org/jamdev/jdl4pam/resources/Ketos/right_whale/hallo-kw-det_v1/model/saved_model.pb
bin/org/jamdev/jdl4pam/resources/Ketos/right_whale/hallo-kw-det_v1/jasco_reduced.wav
bin/org/jamdev/jdl4pam/resources/Ketos/right_whale/hallo-kw-det_v1/hallo-kw-det_v1.ktpb
bin/org/jamdev/jdl4pam/resources/Ketos/right_whale/hallo-kw-det_v1/detections_no_overlap.csv
bin/org/jamdev/jdl4pam/resources/Ketos/right_whale/hallo-kw-det_v1/audio_repr.json
bin/org/jamdev/jdl4pam/resources/generic/rightwhale/sar98_trk3_8000.wav
bin/org/jamdev/jdl4pam/resources/generic/rightwhale/sar98_trk3_8000.log
bin/org/jamdev/jdl4pam/resources/generic/rightwhale/model_lenet_dropout_input_conv_all/variables/variables.index
bin/org/jamdev/jdl4pam/resources/generic/rightwhale/model_lenet_dropout_input_conv_all/variables/variables.data-00000-of-00001
bin/org/jamdev/jdl4pam/resources/generic/rightwhale/model_lenet_dropout_input_conv_all/saved_model.pb
bin/org/jamdev/jdl4pam/resources/generic/ghumpback_atlantic/saved_model_4/variables/variables.index
bin/org/jamdev/jdl4pam/resources/generic/ghumpback_atlantic/saved_model_4/variables/variables.data-00000-of-00001
bin/org/jamdev/jdl4pam/resources/generic/ghumpback_atlantic/saved_model_4/saved_model.pb
bin/org/jamdev/jdl4pam/resources/generic/ghumpback_atlantic/saved_model_4/keras_metadata.pb
bin/org/jamdev/jdl4pam/resources/generic/ghumpback_atlantic/saved_model_4/fingerprint.pb
bin/org/jamdev/jdl4pam/resources/generic/ghumpback_atlantic/SAMOSAS_EL1_humpback_annotations.txt
bin/org/jamdev/jdl4pam/resources/generic/ghumpback_atlantic/SAMOSAS_EL1_humpback.wav
bin/org/jamdev/jdl4pam/resources/generic/ghumpback_atlantic/FlatHBNA/variables/variables.index
bin/org/jamdev/jdl4pam/resources/generic/ghumpback_atlantic/FlatHBNA/variables/variables.data-00000-of-00001
bin/org/jamdev/jdl4pam/resources/generic/ghumpback_atlantic/FlatHBNA/saved_model.pb
bin/org/jamdev/jdl4pam/resources/generic/ghumpback_atlantic/FlatHBNA/keras_metadata.pb
bin/org/jamdev/jdl4pam/resources/generic/ghumpback_atlantic/Challenger_sample_humpback_detector_annotations.txt
bin/org/jamdev/jdl4pam/resources/generic/ghumpback_atlantic/Challenger_sample_humpback_detector.wav
bin/org/jamdev/jdl4pam/resources/generic/ghumpback/humpback_whale_1/variables/variables.index
bin/org/jamdev/jdl4pam/resources/generic/ghumpback/humpback_whale_1/variables/variables.data-00000-of-00001
bin/org/jamdev/jdl4pam/resources/generic/ghumpback/humpback_whale_1/saved_model.pb
bin/org/jamdev/jdl4pam/resources/generic/ghumpback/humpback.wav
bin/org/jamdev/jdl4pam/resources/animalSpot/blue_whale/config - Copy
bin/org/jamdev/jdl4pam/resources/animalSpot/blue_whale/ANIMAL-SPOT.pk
bin/org/jamdev/jdl4pam/resources/animalSpot/blue_whale/2019-09-04T09-30-06_predict_output.log.annotation.result.txt
bin/org/jamdev/jdl4pam/resources/animalSpot/blue_whale/2019-09-04T09-30-06.wav
bin/org/jamdev/jdl4pam/resources/animalSpot/bat_multi_species/20200817_011424.wav
bin/org/jamdev/jdl4pam/resources/animalSpot/bat_multi_species/20170116_183345.wav
bin/org/jamdev/jdl4pam/resources/animalSpot/bat_multi_species/1_BAT_MULTI_JAMIE_5ms_256fft_10hop_MM_0_100_128_256_AUG_LN_WITHJAMIEDATA_AUGMENTATION_V1.pk
bin/org/jamdev/jdl4pam/ReadBufferExceptionTest.class
bin/org/jamdev/jdl4pam/koogu/KooguTest.class
bin/org/jamdev/jdl4pam/koogu/KooguModel.class
bin/org/jamdev/jdl4pam/koogu/KooguDLTest.class
bin/org/jamdev/jdl4pam/ketos/KetosTransformsTest.class
bin/org/jamdev/jdl4pam/ketos/KetosTransformParser.class
bin/org/jamdev/jdl4pam/ketos/KetosTest.class
bin/org/jamdev/jdl4pam/ketos/KetosParams.class
bin/org/jamdev/jdl4pam/ketos/KetosModelTest.class
bin/org/jamdev/jdl4pam/ketos/KetosModel.class
bin/org/jamdev/jdl4pam/ketos/KetosAudioProcess.class
bin/org/jamdev/jdl4pam/ketos/KetosAudioProcess$KetosResult.class
bin/org/jamdev/jdl4pam/genericmodel/WaveformTranslator.class
bin/org/jamdev/jdl4pam/genericmodel/SpectrogramTranslator.class
bin/org/jamdev/jdl4pam/genericmodel/RightWhaleDL.class
bin/org/jamdev/jdl4pam/genericmodel/ModelInfo.class
bin/org/jamdev/jdl4pam/genericmodel/HumpbackGoogle.class
bin/org/jamdev/jdl4pam/genericmodel/GenericModelParams.class
bin/org/jamdev/jdl4pam/genericmodel/GenericModel.class
bin/org/jamdev/jdl4pam/genericmodel/GenericClassifierTest.class
bin/org/jamdev/jdl4pam/genericmodel/GenericClassifier.class
bin/org/jamdev/jdl4pam/genericmodel/DefaultGenericParams.class
bin/org/jamdev/jdl4pam/genericmodel/DefaultGenericParams$GenericModel.class
bin/org/jamdev/jdl4pam/generic/RightWhaleTest.class
bin/org/jamdev/jdl4pam/generic/GoogleHumpbackTest.class
bin/org/jamdev/jdl4pam/FrameWork.class
bin/org/jamdev/jdl4pam/dlpam/SoundSpotModelTest.class
bin/org/jamdev/jdl4pam/dlpam/BatDLpytorch.class
bin/org/jamdev/jdl4pam/deepAcoustics/DeepAcousticsTranslator.class
bin/org/jamdev/jdl4pam/deepAcoustics/DeepAcousticsDLTest.class
bin/org/jamdev/jdl4pam/ArchiveModel.class
bin/org/jamdev/jdl4pam/AppTest.class
bin/org/jamdev/jdl4pam/App.class
bin/org/jamdev/jdl4pam/animalSpot/LegacySoundSpotParams.class
bin/org/jamdev/jdl4pam/animalSpot/AnimalSpotUnitTest.class
bin/org/jamdev/jdl4pam/animalSpot/AnimalSpotTransfromsTest.class
bin/org/jamdev/jdl4pam/animalSpot/AnimalSpotTest1.class
bin/org/jamdev/jdl4pam/animalSpot/AnimalSpotTest.class
bin/org/jamdev/jdl4pam/animalSpot/AnimalSpotParams.class
bin/org/jamdev/jdl4pam/animalSpot/AnimalSpotModel.class
bin/org/jamdev/jdl4pam/animalSpot/AnimalSpotModel$SpectrogramTranslator.class
bin/org/jamdev/jdl4pam/animalSpot/AnimalSpotClassifier.class
jpam/.DS_Store
jpam/.classpath
